@use "src/styles/vars";


.skills {

/*
---------------------------------------------------------

        Partie Competences / text / h3 div

---------------------------------------------------------
*/

&-competences {
    color: vars.$color2;
    text-align: center;
    background-color: vars.$color1;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    border: 10px solid vars.$color5;


&-h1 {
    font-size: vars.$fontsize26;
    color: vars.$color2;
    padding: 20px;
    font-weight: 900;
}

&-frontback {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}

&-h3 {
        color: vars.$color2;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 900;
}

/*
---------------------------------------------------------

        Partie Competences / icons

---------------------------------------------------------
*/

&-back {
    margin-bottom: 30px;
}

&-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

&-image {
    width: 30%;
    padding: 10px;
    border: 2px solid vars.$color5;
    border-radius: 5px;
    margin: 5px;
}

/*
---------------------------------------------------------

        Partie Competences / devops

---------------------------------------------------------
*/

&-devops {
    line-height: 2em;
    
}

&-p {
    margin: auto;
    text-align: justify;
    width: 80%;
}

&-span {
    color: vars.$color5;
    font-weight: 900;
}

}
}