@use "src/styles/vars";

/*
---------------------------------------------------------

        Partie Skills

---------------------------------------------------------
*/

.skills {

&-parcours {
    color: vars.$color2;
    text-align: center;
    background-color: vars.$color1;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-weight: 900;

&-h1 {
    font-size: vars.$fontsize32;
    color: vars.$color5;
    margin-bottom: 10px;
}

&-p {
    padding: 5px;
    font-size: vars.$fontsize24;
    line-height: 2rem;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
}

/*
---------------------------------------------------------

        Partie Competences / text / h3 div

---------------------------------------------------------
*/

&-competences {
    color: vars.$color2;
    text-align: center;
    background-color: vars.$color1;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    

&-h1 {
    font-size: vars.$fontsize32;
    color: vars.$color5;
}

&-frontback {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

&-h3 {
        color: vars.$color5;
        font-size: 28px;
        margin-bottom: 20px;
}

/*
---------------------------------------------------------

        Partie Competences / icons

---------------------------------------------------------
*/
&-front {
    margin-bottom: 30px;
}

&-back {
    margin-bottom: 30px;
}

&-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

&-image {
    width: 30%;
    padding: 10px;
}

/*
---------------------------------------------------------

        Partie Competences / devops

---------------------------------------------------------
*/


&-p {
    margin: 10px;
    font-size: 28px;
}

}


}