$color1: #38A3A5;
$color2: #ffffff;
$color3: #9FFFCB;
$color4: #25A18E;
$color5: #22577A;
$font-family: 'Noto Sans', sans-serif;
$fontsize16: 16px;
$fontsize26: 26px;
$fontsizemobile16: 16px;
$fontsizemobile20: 20px;
$fontsizemobile24: 24px;
