@use 'reset';
@use 'vars';
@use 'responsive';

body {
  font-family: vars.$font-family;
  background-color: #E9EDC9;
  color: vars.$color4;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
