@use 'reset';
@use 'vars';
@use 'responsive';

body {
  font-family: vars.$font-family;
  background: linear-gradient(276deg, rgba(199,249,204,1) 0%, rgba(165,187,167,1) 100%);
  color: vars.$color4;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
