@use "src/styles/vars";

.button {
    &-a {
        position: fixed;
        right: 10px;
        bottom: 15px;
        color: vars.$color2;
        background-color: vars.$color5;
        padding: 10px;
        border-radius: 5px;
        font-weight: 900;
    }
    
}

