@use "src/styles/vars";

body::-webkit-scrollbar {
    width: 12px;     
  }

body::-webkit-scrollbar-track {
  background-color: vars.$color1;    
  }
  
body::-webkit-scrollbar-thumb {
    background-color: vars.$color2;   
    border-radius: 20px;       
    border: 3px solid vars.$color5;  
  }