@use "src/styles/vars";

.parcours {
    text-align: center;
    background-color: vars.$color1;
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    border: 10px solid vars.$color5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

&-h1 {
    font-size: vars.$fontsize26;
    color: vars.$color2;
    padding: 20px;
    font-weight: 900;
}

&-p {
    padding: 5px;
    line-height: 2rem;
    margin: auto;
    text-align: justify;
    width: 80%;
    color: vars.$color2;

    &-span {
        color: vars.$color5;
        font-weight: 900;
    }

}
}