@use "src/styles/vars";

.form {
  margin: auto;
  padding: 0 50px 0 50px;
  width: 80%;
  border: 10px solid vars.$color5;
  border-radius: 43px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: vars.$color1;

  &-p {
    font-size: 22px;
    padding: 20px;
    color: vars.$color2;
  }

  &-a {
    color: vars.$color5;
    font-weight: 900;
  }

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 83px;
    margin-top: 25px;

    & label {
      margin-bottom: 7px;
      font-weight: 900;
      color: vars.$color2;
      font-size: 22px;
    }

    & input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
    }

    & textarea {
      padding: 15px 0 0 10px;
      border: none;
      border-radius: 10px;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-family: 'Poppins', sans-serif;
    }
  }

  & button {
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 450px;
    height: 40px;
    max-width: 500px;
    background: vars.$color5;
    color: vars.$color2;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: translateY(3px) scale(1.1);
    }
  }
}