@use 'src/styles/vars';

.card{
  border: solid vars.$color5 4px;
  border-radius: 15px;
  padding: 1.5rem;
  width: 30%;
  box-shadow: 0 0 10px vars.$color5;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  z-index: 1;
  
  &:hover {
      transform: translateY(-10px);
  }

    &-img{
      max-width: 100%;
      max-height: 190px;
      border-radius: 15px;
      border: solid vars.$color5 ;
    }

    &-title{
      font-size: 32px;
      font-weight: bold;
      color: vars.$color5;
      
    }

    &-text{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 25px;
    }

    &-subtitle{
      font-size: 24px;
      color: vars.$color5;
    }

    &-github{
      color: vars.$color2;
      font-size: 2rem;
    }

    &-allgithub{
      display: flex;
      justify-content: center;
    }
}
