@use "src/styles/vars";

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
    margin-top: 3rem;


    &-button {
    background-color: vars.$color5;
    color: vars.$color2;
    padding: 1rem 2rem;
    border: 10px solid vars.$color2;
    border-radius: 4px;
    font-size: 1rem;
    }
  }