@use "src/styles/vars";

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;

&-div {
        margin-top: 25px;
    }

&-h1 {
    font-weight: bolder;
    font-size: 32px;
    color: vars.$color5;
}

&-h1color {
    text-decoration: none;
}

&-h1span {
    background: vars.$color5;
    color: vars.$color2;
    font-size: 48px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

&-h1point {
    color: vars.$color5;
    font-size: 32px;
    border-radius: 5px;
}

&-h1spanm {
    background: vars.$color5;
    color: vars.$color2;
    font-size: 48px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
}

/* 
-----------------------------------------------------------------------------

                                Partie Navbar

-----------------------------------------------------------------------------
 */

.navbar {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 15px;

&-plink1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    background-color: vars.$color5;
    color: vars.$color2;
    border-radius: 5px;
}

&-plink1:hover{
    background-color: vars.$color1;
    color: vars.$color3;
    border-radius: 5px;
    transition-delay: 0.15s;
}


&-plink2-3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

&-plink4 {
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    background-color: vars.$color5;
    border-radius: 5px;
}

&-a1 {
    color: vars.$color2;
    text-decoration: none;
    font-weight: 700;
}

&-a2 {
    color: vars.$color5;
    text-decoration: none;
    font-weight: 700;
}

&-a3 {
    color: vars.$color5;
    text-decoration: none;
    font-weight: 700;
}

&-a4 {
    border-radius: 5px;
    color: vars.$color2;
    font-weight: 700;
}

}