@use "src/styles/vars";

.socialmedia {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 250px;
    width: 100px;
    height: auto;
    border-radius: 15px;
    align-items: center;
    background-color: #D4A373;
    // border: 5px solid vars.$color5;
}

.socialmedia-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia-p {
    align-items: center;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    color: vars.$color2;
    font-weight: 900;
}

.socialmedia-img {
    width: 80%;
    padding: 10px;
}