@use "src/styles/vars";

.socialmedia {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 15px;
    top: 250px;
    width: 100px;
    border-radius: 15px;
    align-items: center;
    background-color: vars.$color5;

&-a {
    align-items: center;
    display: block;
    margin-left: 1.5rem;
}

&-p{
    align-items: center;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    color: vars.$color2;
    font-weight: 900;
}

&-img {
    height: 70%;
    width: 70%;
    padding: 5px;
}
}