@use "src/styles/vars";

.footer {
    background-color: vars.$color1;
    text-align: center;
    bottom: 0;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

&-p {
    color: vars.$color5;
    font-size: 24px;
    font-weight: 900;
}

&-totop {
    color: vars.$color5;
    background-color: vars.$color2;
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
}

}